language: node_js
node_js:
  - "stable"

install:
  - npm install
  - npm install -g codecov

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - npm run lint
  - nyc --reporter=lcov mocha --recursive test/unit
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - codecov --clear --flags "unittests"
  - nyc --reporter=lcov mocha --recursive test/system
  - codecov --clear --flags "systemtests"
